<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(function () {
            $.ajax(
                {
                    url: "/wallet/create",
                    type: "POST",
                    success: function (response) {
                        $('#public_key').val(response['public_key']);
                        $('#private_key').val(response['private_key']);
                        $('#blockchain_address').val(response['blockchain_address']);
                        console.info(response);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                }
            )
            $('#send_transaction').click(function () {
                let confirm_text = "Are you sure to send this transaction?";
                let confirm_result = confirm(confirm_text);
                if (confirm_result !== true) {
                    alert("Transaction cancelled.");
                    return
                }

                let transation_data = {
                    'sender_private_key': $('#private_key').val(),
                    'sender_public_key': $('#public_key').val(),
                    'sender_blockchain_address': $('#blockchain_address').val(),
                    'recipient_blockchain_address': $('#recipientAddress').val(),
                    'value': $('#send_amount').val(),
                };
                
                $.ajax(
                    {
                        url: "/transaction",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(transation_data),
                        success: function (response) {
                            console.info(response);
                            alert('Send success');
                            
                        },
                        error: function (error) {
                            console.error(error);
                            alert('Send failed');
                        }
                    }
                )
            })
        })
    </script>
</head>
<body>
    <div>
        <h1>Wallet Information</h1>
        <div id="Wallet_amount"></div>
        <button id="reload_wallet">Reload Wallet</button>

        <p>Public Key:</p>
        <textarea id="public_key" rows="4" cols="50"></textarea>

        <p>Private Key:</p>
        <textarea id="private_key" rows="4" cols="50"></textarea>

        <p>Blockchain Address</p>
        <textarea id="blockchain_address" rows="4" cols="50"></textarea>
    </div>

    <div>
        <h1>Transaction</h1>
        <div>
            recipientAddress: <input type="text" id="recipientAddress" size="70"><br>
            Amount: <input type="text" id="send_amount" size="70"><br>
            <button id="send_transaction">Send</button>
        </div>
    </div>
</body>
</html>
